.non-selectable {
  user-select: none;
}

.grid-bg {
  background-image:
    linear-gradient(var(--grid-line) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-line) 1px, transparent 1px);
  background-size: 20px 20px;
}

.gantt-lines {
  background-image: linear-gradient(90deg, var(--gantt-line) 1px, transparent 1px);
  background-size: 80px 100%;
}
